#canvas-layer-1 {
	box-sizing: border-box;
	position: absolute;

	width: 100%;
	height: 100%;
	
	z-index: 1;
}

#canvas-ayer-2 {
	box-sizing: border-box;
	position: absolute;

	width: 100%;
	height: 100%;
	
	z-index: 2;
}

#canvas-layer-3 {
	box-sizing: border-box;
	position: absolute;

	width: 100%;
	height: 100%;
	
	z-index: 3;
}
